---
import Layout from '@layouts/Layout.astro';
---

<meta http-equiv='refresh' content='0;url=/en/' />

<Layout title='Alfonso Martín | Webdev'>
	<section class='loading'>
		<h1>Loading</h1>
	</section>
</Layout>
