---
import Layout from '@layouts/Layout.astro';
import { getLangFromUrl, useTranslations } from 'src/i18n/utils';
import { languages } from 'src/i18n/ui';
import WorkExperience from '@sections/about/WorkExperience.astro';
import StudiesSection from '@sections/about/StudiesSection.astro';
import Languages from '@sections/about/Languages.astro';

export const getStaticPaths = () =>
	Object.keys(languages).map((lang) => ({ params: { lang } }));

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t('mainAboutTitle')}>
	<article class='aboutpage'>
		<div class='details'>
			<img src='/alfonsomartinportrait.webp' alt='Alfonso Martín Portrait' />
			<div class='data'>
				<h1>Alfonso Martín</h1>
				<small>{t('aboutDescription')}</small>
				<small class='available'>Available for remote work</small>
			</div>
		</div>
		<section class='workexperience'>
			<WorkExperience />
		</section>
		<section class='studies'>
			<StudiesSection />
		</section>
		<section class='languages'>
			<Languages />
		</section>
	</article>
</Layout>

<style>
	.aboutpage {
		min-height: calc(100% - var(--navHeight));
		width: min(100% - 0.5rem, 540px);
		margin-inline: auto;
		@media (width > 478px) {
			width: min(100% - 2.5rem, 550px);
		}
	}

	.details {
		display: flex;
		gap: 1rem;
		align-items: center;
		img {
			max-width: 6rem;
			border-radius: 10rem;
		}
	}
	.data {
		* + * {
			margin-top: 0.4rem;
		}
		h1 {
			font-weight: 400;
		}
		small {
			display: block;
			line-height: 1.1;
		}
		.available {
			background-color: #383838;
			padding: 0.2rem 1rem;
			border-radius: 100rem;
		}
	}
	.workexperience {
		padding: 3rem 0;
		font-size: 0.9rem;
	}
	.studies,
	.languages {
		/* padding: 3rem 0; */
		font-size: 0.9rem;
		padding-bottom: 3rem;
	}
</style>
